*.actual.*
*.suo
*.user
/FredsImageMagickScripts.NET/bin
/FredsImageMagickScripts.NET/obj
/FredsImageMagickScripts.NET.Tests/obj
/FredsImageMagickScripts.NET.Tests/bin
/packages
/Publish/Nupkg/ApiKey.txt
/TestResults
